{% extends "blog/base.html" %}
{%block content%}
<h2>La Piscina di {{ view.kwargs.username }}</h2>
<br>
{% if view.kwargs.username == user.username %}
<form action = "/piscina_request/" method = "POST"> 
{% csrf_token %}
<div class="container">
		<div class = "d-flex flex-md-row">
			<div class="col-md-8">
				<h3>Aggiungi i dati manualmente:</h3>
				<div class="input-group mb-3">
				  <div class="input-group-prepend">
					<span class="input-group-text" id="basic-addon1">Temperatura</span>
				  </div>
				  <input id="temperature" type="number" step="0.01" name="temperature" class="form-control" aria-describedby="basic-addon1" value="{{ temperature }}">
				</div>
				
				<div class="input-group mb-3">
				  <div class="input-group-prepend">
					<span class="input-group-text" id="basic-addon1">Ph</span>
				  </div>
				  <input id="ph" type="number" step="0.01" name="ph" class="form-control" aria-describedby="basic-addon1" value="{{ ph }}">
				</div>
				
				<input id="n_piscina" type="hidden" name ="n_piscina" value="{{ view.kwargs.n_piscina }}">
				<button type="submit" class="btn btn-info">Submit</button>
			</div>
			
			<a type="button" class="btn btn-info btn-lg h-50 mx-auto" href="{% url 'line-chart' user.username view.kwargs.n_piscina %}">Mostrami i Grafici</a>
		</div>
</div>
{% endif %}

<br>
{% for value in values %}
{% if value.ph < 7 or value.ph > 8 %}
	<article class="media warning-section">
	<img class="rounded-circle article-img" src="{{ value.user.profile.image.url }}">
	  <div class="media-body">
		<div class="article-metadata text-light">
		  <label for="date">Piscina di:</label>
		  <a class="mr-2 text-dark" href="{% url 'blog-mia_piscina' value.user %}">{{ value.user }}</a>
		  <br>
		  <label for="date">Data:</label>
		  <a class="mr-2">{{ value.date|date:"d/m/Y - H:i" }}</a>
		</div>
		  <br>
		<div class="article-metadata text-light">
		  <label for="temperature">Temperatura:</label>
		  <a class="mr-2">{{ value.temperature }}°</a>
		  <br>
		  <label for="ph">Ph:</label>
		  <a class="mr-2">{{ value.ph }}</a>
		  <h5 class="text-light">ATTENZIONE! CORREGGERE PH</h5>
		</div>
	  </div>
	</article>
{%endif%}
	<article class="media content-section">
	<img class="rounded-circle article-img" src="{{ value.user.profile.image.url }}">
	  <div class="media-body">
		<div class="article-metadata">
		  <label for="date">Data:</label>
		  <a class="mr-2">{{ value.date|date:"d/m/Y - H:i" }}</a>
		  <br>
		</div>
		<div class="article-metadata">
		  <label for="temperature">Temperatura:</label>
		  <a class="mr-2">{{ value.temperature }}°</a>
		  <br>
		  <label for="ph">Ph:</label>
		  <a class="mr-2">{{ value.ph }}</a>
		</div>
	  </div>
	</article>
</form>
{% endfor %}
{% endblock content %}