{% extends "blog/base.html" %}
{%block content%}
<h2>Temperatura:</h2>
<br>
<form action = "/piscina_request/" method = "POST"> 
{% csrf_token %}
<div class="container">
		<div class="col-md-8">
			<label for="temperature">Temperatura:</label>
			<input id="temperature" type="number" name="temperature" value="{{ temperature }}">
			<br>
			<label for="ph">Ph:</label>
			<input id="ph" type="number" name="ph" value="{{ ph }}">
			<br>
			<button type="submit">Submit</button>
		</div>
</div>
<br>
{% for value in values %}	  
	<article class="media content-section">
	  <div class="media-body">
		<div class="article-metadata">
		  <label for="date">Data:</label>
		  <a class="mr-2">{{ value.date }}</a>
		  <br>
		  <label for="temperature">Temperatura:</label>
		  <a class="mr-2">{{ value.temperature }}</a>
		  <br>
		  <label for="temperature">Ph:</label>
		  <a class="mr-2">{{ value.ph }}</a>
		</div>
	  </div>
	</article>
</form>
{% endfor %}
{% endblock content %}